.head1
{
border-style:dashed;
}
.head2
{
border-style:double;
}
.head3
{
border-style:solid;
}
.head4
{
border-style:inset;
}
.head5
{
border-top-style:outline;
border-right-style:dashed;
border-bottom-style:double;
border-left-style:solid;
}
	